<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Console Appender -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger{36}] - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Loki Appender -->
  <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
    <http>
      <url>http://loki:3100/loki/api/v1/push</url>
    </http>
    <format>
      <label>
        <pattern>app=order-service, environment=dev, level=%level, thread=%thread</pattern>
        <readMarkers>true</readMarkers>
      </label>
      <message>
        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %magenta(%-5level) %green([%-50.50class]) >>> %cyan(%msg) %n</pattern>
      </message>
    </format>
  </appender>

  <!-- Enable debug logs for Loki (optional for troubleshooting) -->
  <logger name="com.github.loki4j" level="DEBUG"/>

  <!-- Root Logger -->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="LOKI"/>
  </root>

</configuration>